h1 {
    color:rgb(4, 7, 12);
    font-size: 12px;
}
/* */
body {
    background-color: rgba(252, 252, 252, 0.384);
}
.welcome {
    background-color: seagreen;
}
.large  {
    font-size: 30px;
}
.center {
    text-align: center;
}
#navbar {
    background-color:black;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#navbar a{
    color:antiquewhite;
    text-decoration: none;
}
#navbar a:hover{
color: gold;
}
.smallimage {
    width: 60%;
}
